* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

.bg {
  display: grid;
  grid-template-columns:1;
  gap: 14px;
  margin: 0 12px 0 12px;
}

@media (max-width: 800px) {
  .bg {
  display: grid;
  grid-template-columns:1fr;
  gap: 14px;
  margin: 0 12px 0 12px;
}
}

#caption {
  text-align: center;
  margin: 20px auto;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  color: #F9F7F7;
  height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
}


#below {
  display: flex;
  padding: 20px;
  margin: 20px 0 20px 0;
  flex-direction: row;
}

.bg-video1{
  position: absolute;
  top: -500px;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.bgsection1 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bgsection {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  border-radius:12px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 20vh;
  overflow: hidden;
}

#below h3{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  color: #3F72AF;
}
@media (max-width: 800px) {
  .bg-video1{
    top: -220px;
  }
}
@media (max-width: 800px) {
  #caption h3{
    display: none;
  }
  .cut {
    display: none;
  }
  .container1 h2, h3{
    font-size: 20px;  
  }
  .caption2 h2, h3{
    font-size: 16px;
  }
}

.video2 {
  border-radius:12px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 20vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption2 {
  position: relative;
  z-index: 1;
  color: #F9F7F7;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.below {
  text-align: center;
  padding: 20px;
  margin: 20px 0 20px 0;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  color: #3F72AF;
}

@media (max-width: 800px) {
  .below{
    font-size: 10px;
  }
}

.hero2 {
  padding: 20px 0;
  margin: 0 12px 0 12px;
}

.hero2 h2{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  color: #3F72AF;
}

.sad {
  gap: 14px;
}

.container {
  width: 20%;
  height: auto;
  flex-shrink: 0;
}


@media (max-width: 800px) {
  .hero2 h2{
    font-size: 15px;
  }
  .sad {
    min-width: 50%;
  }
  .container{
    flex: 0 0 auto;
    width: 50%;
  }
}

.hero3 {
  padding: 20px 0;
  margin: 0 12px 0 12px;
}

.hero3 h2{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  color: #3F72AF;
}

.thriller {
  gap: 14px;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
  gap: 10px;
  overflow: hidden;
  }
.drag-label {
  font-size: 14px;
  text-align: center;
  color: #999;
  margin-bottom: 5px;
  opacity: 0.7;
}

.container5 {
  width: 20%;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 800px) {
  .hero3 h2{
    font-size: 15px;
  }
  .thriller {
    min-width: 50%;
  }
  .container5{
    flex: 0 0 auto;
    width: 50%;
  }
  .slider {
    overflow: auto;
  }
  .drag-label {
    font-size: 8px;
  }
}